* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 1.5rem;
  border-bottom: 1px solid black;
}

footer {
  padding: 1.5rem;
  border-top: 1px solid black;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#app {
  display: flex;
  flex: 1;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

#sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;

  border-right: 1px solid black;
  width: 20%;
}

#nav-home {
  display: flex;
  flex-direction: column;
}

#nav-home ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main {
  flex: 1;
  margin: 20px;
}

#section-title {
  /* margin: 20px; */
  background-color: red;
  padding: 1.5rem;
}

#content {
  margin-top: 15px;
  /* text-align: center; */
}

.todo-card {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  padding: 1.5rem;
  border-left: 8px solid red;
  margin-bottom: 10px;
}

.todo-left {
  display: flex;
  gap: 15px;
}

.todo-right {
  display: flex;
  gap: 20px;
}

.toggle-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%; /* makes it a circle */
  border: 2px solid gray;
  background: transparent;
  cursor: pointer;
}

.toggle-btn.complete {
  background: green;
  border-color: green;
}

.no-task {
  text-align: center;
}


